<div class="tty_dialog" style="width:<%= width %>; height:<%= height %>;">
   <div class="borders">
      <div class="edge t"></div>
      <div class="edge r"></div>
      <div class="edge b"></div>
      <div class="edge l"></div>
      <div class="corner tl"></div><div class="corner tr"></div>
      <div class="corner bl"></div><div class="corner br"></div>
   </div>
   <div class="text" style="top:<%= top %>;"><% block.call() %></div>
</div>
