<div class="vessel">
   <%= tty_h2 "ARCHIVE DATA NODE #<a href=\"#{vessel.href}\">#{vessel.id}.VCD</a>" %>
   <div class="data"><%= vessel.data %></div>
   <div class="link"><a href="<%= vessel.pilot_href %>">PILOT THIS VESSEL</a></div>
   <br/>&nbsp;
</div>
