<div class="vessel">
   <%= tty_h2 "ARCHIVE DATA NODE #<a href=\"#{vessel.href}\">#{vessel.id}.VCD</a>" %>
   <br/>
   <div class="data"><%= vessel.data_trimmed %></div>
   <div class="link">[<a href="<%= vessel.pilot_href(true) %>">PILOT THIS VESSEL</a>]</div>
</div>
