<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <title><%= @title %>[VCD ARCHIVE]</title>
   <link rel="icon" type="image/vnd.microsoft.icon" href="http://vcd.phuce.com/favicon.ico"/>
   <link rel="alternate" type="application/rss+xml" href="http://vcd.phuce.com/rss.xml" title="VCD ARCHIVE LOG"/>
   <link rel="stylesheet" type="text/css" href="/reset.css"/>
   <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>

<body>
   <div class="content">
      <%= tty_h1 '<a href="/">VESSEL&nbsp;CONFIGURATION&nbsp;DATA&nbsp;ARCHIVE</a>', :right => eighties_time, :classes => 'header invert' %>
      <%= yield %>
      <%= tty_h1 '', :center => '<a href="http://www.captainforever.com/">WWW.CAPTAINFOREVER.COM</a>', :classes => 'footer invert' %>
      <div>&nbsp;</div>
   </div>
   <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
      try {
         var pageTracker = _gat._getTracker("UA-9140800-2");
         pageTracker._trackPageview();
      } catch(err) {}
   </script>
</body>

</html>
