<%=
tty_h1(
   "<span class=\"greenblock\">DOWNLOADING #{@vessels.length} VESSEL#{'S' if @vessels.length != 1}...</span>",
   :right => "[<a href=\"/new\">UPLOAD NEW VESSEL</a>")
%>
<br/>
<% @vessels.each do |vessel| %>
   <%= erb :_vessel, :layout => false, :locals => {:vessel => vessel} %>
   <br/>
<% end %>
