<%= tty_h1 'ALLOCATING NEW ARCHIVE ENTRY...' %>
<% tty_dialog :height => '480px' do %>
   INPUT VESSEL CONFIGURATION<br/>
   Enter HTML export of vehicle data for storage:<br/>
   <% if @error %>
      <span class="redblock"><%= @error %></span>
   <% end %>
   <br/>
   <form method="post">
      <textarea id="vessel_data" name="vessel_data"></textarea><br/>
      <br/>
      <input class="button" type="submit" value="TRANSMIT">
   </form>
<% end %>
