<%=
tty_h1(
   '<span class="greenblock">DOWNLOADING VESSEL...</span>',
   :right => "[<a href=\"/\">INDEX</a>][<a href=\"/new\">UPLOAD NEW VESSEL</a>")
%>
<br/>
<%= erb :_vessel, :layout => false, :locals => {:vessel => @vessel} %>
