/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   border:0;
   margin:0;
   outline:0;
   padding:0;
   font-size:100%;
   background:transparent;
   vertical-align:baseline;
}
body { line-height:1.2; }

/* inline styles */

body {
   background:#000;
   color:#fff;
   font-family:Courier,"Courier New",fixed;
   font-size:16px;
   margin:0;
   padding:0;
   text-align:center;
}
a { color:#777; text-decoration:none; }
a:hover { background-color:#fff; color:#000; }
input, textarea {
   background-color:#000;
   font-family:Courier,"Courier New",fixed;
   font-size:100%;
   color:#fff;
}
input { border:none; border-bottom:1px solid #fff; }
input.button { border:none; border:1px solid #fff; }
input:hover { background-color:#fff; color:#000; }
.invert { background:#fff; color:#000; }
.invert a { color:#000; }
.invert a:hover { background:#000; color:#fff; }
.greenblock { background-color:#040; color:#0f0; }
.redblock { background-color:#400; color:#f00; }

/* block styles */

/* these elements should be centered */
.footer,
.tty_dialog,
.tty_h1,
.tty_h2 { margin:0 auto; text-align:left; width:50em; }

.footer { margin:2em auto; }

.tty_dialog { position:relative; }
.tty_dialog .borders { width:100%; height:100%; }
.tty_dialog .borders div { position:absolute; z-index:1; }
.tty_dialog .borders .corner { width:16px; height:16px; z-index:2; }
.tty_dialog .t, .tty_dialog .b { width:100%; height:16px; }
.tty_dialog .l, .tty_dialog .r { height:100%; width:16px; }
.tty_dialog .tl { background:url(images/tl.png) no-repeat; top:0; left:0; }
.tty_dialog .tr { background:url(images/tr.png) no-repeat; top:0; right:0; }
.tty_dialog .bl { background:url(images/bl.png) no-repeat; bottom:0; left:0; }
.tty_dialog .br { background:url(images/br.png) no-repeat; bottom:0; right:0; }
.tty_dialog .t { background:url(images/t.png) repeat-x; top:0; left:0; }
.tty_dialog .b { background:url(images/b.png) repeat-x; bottom:0; left:0;}
.tty_dialog .l { background:url(images/l.png) repeat-y; top:0; left:0; }
.tty_dialog .r { background:url(images/r.png) repeat-y; top:0; right:0; }
.tty_dialog .text { width:100%; position:absolute; top:0; left:0; z-index:3; text-align:center; }

.tty_h1 { position:relative; }
.tty_h1 .left { float:left; }
.tty_h1 .right { float:right; }
.tty_h1 .center { position:absolute; left:0; text-align:center; width:100%; }

.tty_h2 { background:url(images/t.png) 0 2px repeat-x; }
.tty_h2 span { background:#000; padding-right:0.5em; }

.vessel .data,
.vessel .link { font-size:12px; text-align:center; }
textarea#vessel_data { background:#000; border:1px solid #fff; width:640px; height:320px; }
